/*{ definit le style global(selecteur universel)*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Indique que l'on va inclure les marges internes et bordure dans la tailles des parents*/
  }

  
  .stitch-bg {
  display: flex;               
  background-image: url('image/lilo_stitch_hero_4009_r_e7d96ac6.jpeg');
  background-size: cover;         
  background-position: center;   
  background-repeat: no-repeat;   
  min-height: 780px;
  width: 85%;
  margin: 0 auto;
  position: relative;

}


.txtStitch{
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: auto;
  max-width: auto;          
  width: 25%;
  left: 10%;
  top: 15%;
  margin: 0 auto;
}
.cinema{
  display: flex;
  justify-content: center;
  font-size:20px;
  }
.btnReservation {
    display: flex;
    align-self: center;
    background-color: #6c789e;
    color: #fff; 
    border: none;
    border-radius: 50px; 
    padding: 18px 30px; 
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;

  }
  .btnInfo {
    display: flex;
    background: transparent;
    align-self: center;
    color: #222;
    border: 2px solid #6c789e;
    border-radius: 50px; 
    padding: 15px 60px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;

  }
.txtBar{
    display: flex;
    list-style-type: none;
    gap: 30px;
}


.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    gap: 25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }




  ul li a{
    text-decoration: none;
    
  }

  a{
    color: black;
    font-size: 25px;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 17px;

  }
.logoDisney{
  width:90px;
}
a:hover{
  color : blue;
}

.cartes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1%;
  padding-bottom:1%;
  background-color: #ececec;
  width: 85%;
  margin: 0 auto;
  
}

.carte {
  
  background: #faf9fa;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  overflow: hidden;
  transition: box-shadow 0.2s;
  width: 80%;  
}

.imageCarte {
  overflow: hidden;
  flex-shrink: 0;
  background: #eee;
  width: 100%; 
}

.imageCarte img {
  width: 100%;
  height: auto;
}

.contenuCarte {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding: 18px 16px 16px 16px;
  background: #faf9fa;
  
}

.contenuCarte h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #181818;
  font-family: Arial, sans-serif;
}

.contenuCarte p {
  font-size: 14px;
  color: #222;
  margin-bottom: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.etiquette-carte {
  font-size: 13px;
  color: #888;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: auto;
}

.inscriptionDisney {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #004d56;
  width: 85%;
  margin: 0 auto;
}

.carteDisneyPlus {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  width: 340px;
  margin: 20px;
  
}

.imageDisneyPlus {
  overflow: hidden;
  flex-shrink: 0;
}

.imageDisneyPlus img {
  display: flex;
  justify-content: str;
  width: 100%;
  height: 100%;
  object-fit: cover;
  

}

.contenuDisneyPlus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding: 18px 16px 16px 16px;  
}

.contenuDisneyPlus h3 {
  font-size: 17px;
  font-weight: 50;
  margin-bottom: 8px;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.contenuDisneyPlus p {
  font-size: 14px;
  color: #222;
  margin-bottom: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.etiquette-disneyPlus {
  font-size: 13px;
  color: #888;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: auto;
}

@media screen and (max-width : 800px){
  
}

